@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,800;1,900&family=Roboto:ital,wght@0,100;0,400;0,900;1,700;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 20px;
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    padding-top: 10px;
}

.header .img-logo {
    position: absolute;
    display: inline-block;
}

.header .img-logo img {
    height: 50px;
    margin-top: -15px;
}

.header .container .nav-left .left-link {
    display: flex;
    margin-left: 120px;
    gap: 20px;
}

.header .container .nav-left .left-link a {
    text-decoration: none;
    color: #3E4958;
    font-weight: bold;

}

.header .container .nav-right .right-link a {
    text-decoration: none;
    padding: 10px !important;
    color: #000000;
}

.right-link .support {
    border: solid 2px !important;
    padding: 5px 10px !important;
    border-radius: 5.32258px !important;
    color: #0F7AD3 !important;
}

.header .container .nav-right .right-link a:hover {
    color: #0F7AD3;
}

/* 1 */
.img-banner {
    height: 30vh;
    background-image: url("../imgHome/21.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.balls-img {
    position: absolute;
    top: 10%;
    right: 10%;
    height: 12vh;
    background-repeat: no-repeat;
    background-size: contain;


}

.heading {
    text-align: center;
}

.heading h1 {
    margin: 10px;
    color: #000000;
    padding-bottom: 10px;
}

.heading p {
    font-size: 20px;
    color: #000000;
    text-shadow: #000000;
}

/* 3 */

.description {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin: 2.5rem auto;
    padding: 0 2rem;
}

.people-svg {
    display: inline-block;
    object-fit: cover;
    width: 100%;
    max-width: 450px;
    height: auto;
}



.descr {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.about-title {
    border-bottom: 3px solid darkblue;
    color: darkblue;
    width: fit-content;
    padding: 0.5rem 0;
    margin: 1rem 0;
}

/* 3 */
.desc-flex .accordions {
    background-color: #f4f8fd;
    width: 130%;
}

.accordion {
    background-color: #ffffff;
    padding: 1.7rem -1rem;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.accordion .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: block;
    transition: all 0.2s ease;
}

.show {
    display: block;
}

.accordion p {
    display: grid;
    place-items: center;
    padding: 0.5rem;
    background-color: #F7F7FF;
    border-radius: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 0.8rem 0;
}

.accordion p:hover {
    background-color: #f8f7fd;
    color: #F7F7FF;
}


.material-symbols-outlined {
    margin-right: 10px;
    margin-top: 10px;
    color: rgb(207, 209, 212);
    font-size: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.form-sec {
    padding: 0.5rem;
}

.inputs .input {
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 8PX;
}

textarea {
    padding: 0.7rem;
    border: none;
    border-radius: 8px;
    resize: vertical;
    display: block;
    width: 97%;
    margin: auto;
}



.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
}

.send-btn {
    display: block;
    margin: 1.5rem auto;
    border: none;
    outline: none;
    background-image: linear-gradient(45deg, lightgreen 5%, darkblue 95%);
    font-weight: bold;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

a .send-btn:hover {
    background-position: 144px;
    transform: scale(1.009);
}

select {
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0.5rem 0;
}

.map {
    width: 1130PX;
    filter: grayscale(95%);
}

/* 4 */
.special-heading {
    color: #0F7AD3;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: 10px 0 0;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.form {
    background-color: #f4f8f7;
    margin: 0 auto 1rem auto;
    padding: 1rem;
}

/* FOOTR */

/* footer */
.footer {
    background-image: linear-gradient(45deg, lightgreen 5%, #0F7AD3 95%);
    padding: 1rem 2rem;
}

.footer-container {
    width: 95%;
    color: white;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer .top-part {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
}

.footer .ready-started {
    white-space: nowrap;
}

.footer .middle-part {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(190px, 240px));
    gap: 2rem;
}

.middle-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.7rem;
}

.footer-input {
    display: flex;
    width: 100%;
}

.footer-input input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff73;
    background: transparent;
    color: white;
}

.footer-input input::placeholder {
    color: white;
}

.footer-input-icon {
    padding: 0.6rem 1rem;
    text-align: center;
    background-color: white;
    border-top-right-radius:7px;
    border-top-left-radius: 7px ;
}

.footer-input-icon i {
    color: #0F7AD3;
    font-size: 14px;
}
.contact-widgett {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    margin: 0.7rem 0;
    width: 80%;
}

.footer .lower-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lower-part .flex-footer {
    display: flex;
    gap: 3rem;
}

.footer ul li {
    margin: 0.5rem 0;
}

.footer-btn {
    background-color: white;
    color: #0F7AD3;
    padding: 0.7rem 1.2rem;
    display: block;
    width: fit-content;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.footer-btn:hover {
    color: white;
    background-color: #0F7AD3;
    border: 1px solid white;
    cursor: pointer;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
}