/*  google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,800;1,900&family=Roboto:ital,wght@0,100;0,400;0,900;1,700;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 20px;
    font-family: "Work Sans", sans-serif;
    position: relative;
    height: 100%;
    width: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .img-logo {
    position: absolute;
    display: inline-block;
}

.header .img-logo img {
    height: 50px;
    margin-top: -15px;
}

.header .container .nav-left .left-link {
    display: flex;
    margin-left: 120px;
    gap: 20px;
}

.header .container .nav-left .left-link a {
    text-decoration: none;
    color: #3E4958;
    font-weight: bold;

}

.header .container .nav-right .right-link a {
    text-decoration: none;
    padding: 10px !important;
    color: #000000;
}

.right-link .support {
    border: solid 2px !important;
    padding: 5px 10px !important;
    border-radius: 5.32258px !important;
    color: #0F7AD3 !important;
}

.header .container .nav-right .right-link a:hover {
    color: #0F7AD3;
}


/* Start Services */

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 100px;
    margin-bottom: -200px;
    padding-bottom: 140px
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;
    color: #038F5C;
}

.services .services-content .srv .text p {
    color: #2F2D51;
    font-weight: 300;
    line-height: 1.8;
    font-weight: bold;
}

.services .services-content .srv .text .btn {
    font-size: 15px;
    font-weight: bold;
    padding: 10PX;
    width: 100PX;
    color: #000000;
    background-color: #0F7AD3;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.services .services-content .srv .text .btn:hover {
    color: #ffffff;
    background-color: #2499ff;
    border: #7cbff7;

}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image img {
    width: 500px;
    height: 450px;
    border-radius: 15px;
    margin-left: 599px;
    margin-top: -360px;
}



/* End Services */

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}

.special-heading {
    color: #0F7AD3;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -3px;
    margin: 0;

}

.special-heading+p {
    margin: 10px 0 0;
    font-size: 20px;
    text-align: center;
    color: #000000;
    padding-bottom: 35px;
}

#portfolio .container .navbar2 {
    display: flex;
    column-gap: 5rem;
    list-style: none;
    padding-left: 25%;
    padding-top: 20px;
}

#portfolio .container .navbar2 li {
    position: relative;
}

#portfolio .container .navbar2 a {
    font-size: 1rem;
    font-weight: 500;
    color: #ADADAD;
    text-align: center;
    padding-top: 15px;
}

#portfolio .container .navbar2 a:hover {
    color: #0F7AD3;

}

#portfolio .container .navbar2 a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #0F7AD3;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;

}

#portfolio .container .navbar2 a:hover::after,
#portfolio .container.navbar2 .homa-active::after {
    width: 100%;
}




@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, .5fr));
    grid-gap: 20px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card .read-more-button {
    background-color: white;
    padding: 10px;
    color: #0F7AD3;
    font-weight: bold;
    box-shadow: none;
    border: none;
    font-size: 15px;


}

.portfolio .portfolio-content .card {
    background-color: white;

}

.portfolio .portfolio-content .card img {
    width: 260px;
    height: 200px;
    padding: 30px;
    border-radius: 60px;

}

.portfolio .portfolio-content .card2 img {
    width: 310px;
    height: 350px;
    padding: 30px;
    border-radius: 60px;

}

.portfolio .portfolio-content .card img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;

}

.portfolio .portfolio-content .card2 img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;

}






.portfolio .portfolio-content .card2 .info {
    padding: 20px;
    text-align: left;
    margin-left: 30px;

}

.portfolio .portfolio-content .card2 .info li:hover {
    list-style: circle;
    color: #0F7AD3;

}

.portfolio .portfolio-content .card .info li:hover {
    list-style: circle;
    color: #0F7AD3;

}

.portfolio .portfolio-content .card .info {
    padding: 20px;
    text-align: left;
}

.portfolio .portfolio-content .card2 .info h4 {
    margin: 0;
}

.portfolio .portfolio-content .card2 .info li {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;

}



/* End Portfolio */






/*4*/
.img2 {
    border-radius: 50%;
    border: none;
}

.image2 {
    float: center;
    width: auto;
    height: 380px;
    padding-bottom: 50px;
}

.h2-com2 {
    color: rgb(38, 70, 129);
}

.our-com2 {
    text-align: center;
    float: left;
    margin-top: 30px;
    padding-left: 70px;
    width: 350px;
    margin-right: 20px;
}

.our-com2 h1 {
    padding-top: 20px;

}

.our-com2 .p1 {
    padding-left: 70px;
}

.h1-image {
    padding-top: 100px;
}

.h1-image2 h1 {
    color: #0F7AD3;
    text-align: center;

}

.h1-image2 h4 {
    text-align: center;

}


.h1-image2 h1 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

/* end 4 */





/*5*/
.coming-container2 {
    align-items: center;
}

.img {
    border-radius: 40%;
    border: none;
    align-items: center;

}

.h2-com {
    color: rgb(38, 70, 129);
}

.containe .coming-container2 .our-com {
    text-align: center;
    margin-top: 20px;
    padding-left: 70px;
    width: 50%;
    margin-right: 20px;
}


.h1-image h1 {
    color: #0F7AD3;
    text-align: center;
}

.h1-image {
    text-align: center;

}





.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined:hover {
    color: rgb(111, 50, 190);

}

/* end 5 */

/* 5.1*/
.container .accordions {
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
    width: 85%;
    margin: 1rem auto;
    gap: 1rem;
    padding: 3.5rem 1.5rem;
    border-radius: 20px;
}

.container .accordion {
    background-color: #ffffff;
    padding: 1.7rem 1rem;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.container .accordion .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container.content {
    display: block;
    transition: all 0.2s ease;
}

.container .content.show {
    display: block;
}

.container .accordion p {
    display: grid;
    place-items: center;
    padding: 0.5rem;
    background-color: #F7F7FF;
    border-radius: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 0.8rem 0;
}

.container .accordion p:hover {
    background-color: #f8f7fd;
    color: #F7F7FF;
}

.container .accordion span {
    display: none;
}

/* div slider */

.portfolio2 {
    padding-top: 90px;
    padding-bottom: 60px;
}

.special-heading2 {
    color: #0F7AD3;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading2+p {
    margin: 10px 0 0;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

@media (max-width: 767px) {
    .special-heading2 {
        font-size: 60px;
    }

    .special-heading2+p {
        margin-top: -20px;
    }
}



/* footer */
.footer {
    background-image: linear-gradient(45deg, lightgreen 5%, #0F7AD3 95%);
    padding: 1rem 2rem;
}

.footer-container {
    width: 95%;
    color: white;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer .top-part {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
}

.footer .ready-started {
    white-space: nowrap;
}

.footer .middle-part {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 240px));
    gap: 2rem;
}

.middle-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.7rem;
}

.footer-input {
    display: flex;
    width: 100%;
}

.footer-input input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff73;
    background: transparent;
    color: white;
}

.footer-input input::placeholder {
    color: white;
}

.footer-input-icon {
    padding: 0.6rem 1rem;
    text-align: center;
    background-color: white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.footer-input-icon i {
    color: #0F7AD3;
    font-size: 14px;
}

.contact-widgett {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    margin: 0.7rem 0;
    width: 80%;
}

.footer .lower-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lower-part .flex-footer {
    display: flex;
    gap: 3rem;
}

.lower-part .flex-footer2 img {
    padding: 10px;
}

.footer ul li {
    margin: 0.5rem 0;
}

.footer-btn {
    background-color: white;
    color: #0F7AD3;
    padding: 0.7rem 1.2rem;
    display: block;
    width: fit-content;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.footer-btn:hover {
    color: white;
    background-color: #0F7AD3;
    border: 1px solid white;
    cursor: pointer;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer-bottom-p {
    padding-left: 35%
}