<<<<<<< HEAD
/*  google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,800;1,900&family=Roboto:ital,wght@0,100;0,400;0,900;1,700;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}



body {
    margin: 0;
    padding: 20px;
    font-family: "Work Sans", sans-serif;
    position: relative;
    height: 100%;
    width: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .img-logo {
    position: absolute;
    display: inline-block;
}

.header .img-logo img {
    height: 50px;
    margin-top: -15px;
}

.header .container .nav-left .left-link {
    display: flex;
    margin-left: 120px;
    gap: 20px;
}

.header .container .nav-left .left-link a {
    text-decoration: none;
    color: #3E4958;
    font-weight: bold;

}

.header .container .nav-right .right-link a {
    text-decoration: none;
    padding: 10px !important;
    color: #000000;
}

.right-link .support {
    border: solid 2px !important;
    padding: 5px 10px !important;
    border-radius: 5.32258px !important;
    color: #0F7AD3 !important;
}

.header .container .nav-right .right-link a:hover {
    color: #0F7AD3;
}



/* 2 */

.img-banner {
    height: 35vh;
    background-image: url("../imgHome/21.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.balls-img {
    position: absolute;
    top: 20%;
    right: 8%;
    height: 12vh;
    background-repeat: no-repeat;
    background-size: contain;


}

.heading {
    text-align: center;
}

.heading h1 {
    padding-top: 40px;
    color: #000000;
    padding-bottom: 10px;
}

.heading p {
    font-size: 20px;
    color: #000000;
    text-shadow: #000000;
}

/* 3*/
.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}





#portfolio .container .navbar2 {
    display: flex;
    column-gap: 5rem;
    list-style: none;
    padding-left: 25%;
    padding-top: 10px;
}

#portfolio .container .navbar2 li {
    position: relative;
}

#portfolio .container .navbar2 a {
    font-size: 1rem;
    font-weight: 500;
    color: #ADADAD;
    text-align: center;
    padding-top: 15px;
}

#portfolio .container .navbar2 a:hover {
    color: #0F7AD3;

}

#portfolio .container .navbar2 a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #0F7AD3;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;

}

#portfolio .container .navbar2 a:hover::after,
#portfolio .container.navbar2 .homa-active::after {
    width: 100%;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, .5fr));
    grid-gap: 20px;
    margin-top: 70px;
}

.portfolio .portfolio-content .card .read-more-button {
    background-color: white;
    padding: 10px;
    color: #0F7AD3;
    font-weight: bold;
    box-shadow: none;
    border: none;
    font-size: 15px;


}

.portfolio .portfolio-content .card {
    background-color: white;

}

.portfolio .portfolio-content .card img {
    width: 260px;
    height: 200px;
    padding: 30px;
    border-radius: 60px;

}

.portfolio .portfolio-content .card img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;

}







.portfolio .portfolio-content .card .info li:hover {
    list-style: circle;
    color: #0F7AD3;

}

.portfolio .portfolio-content .card .info p:hover {
    color: #0F7AD3;

}

.portfolio .portfolio-content .card .info {
    padding: 20px;
    text-align: left;
    line-height: 30px;
}





/* footer */

/* footer */
.footer {
    background-image: linear-gradient(45deg, lightgreen 5%, #0F7AD3 95%);
    padding: 1rem 2rem;
}

.footer-container {
    width: 95%;
    color: white;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 1Zrem;
}

.footer .top-part {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
}

.footer .ready-started {
    white-space: nowrap;
}

.footer .middle-part {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 240px));
    gap: 2rem;
}

.middle-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.7rem;
}

.footer-input {
    display: flex;
    width: 100%;
}

.footer-input input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff73;
    background: transparent;
    color: white;
}

.footer-input input::placeholder {
    color: white;
}

.footer-input-icon {
    padding: 0.6rem 1rem;
    text-align: center;
    background-color: white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.footer-input-icon i {
    color: #0F7AD3;
    font-size: 14px;
}

.contact-widgett {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    margin: 0.7rem 0;
    width: 80%;
}

.footer .lower-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lower-part .flex-footer {
    display: flex;
    gap: 3rem;
}

.footer ul li {
    margin: 0.5rem 0;
}

.footer-btn {
    background-color: white;
    color: #0F7AD3;
    padding: 0.7rem 1.2rem;
    display: block;
    width: fit-content;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.footer-btn:hover {
    color: white;
    background-color: #0F7AD3;
    border: 1px solid white;
    cursor: pointer;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
=======
/*  google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,800;1,900&family=Roboto:ital,wght@0,100;0,400;0,900;1,700;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}



body {
    margin: 0;
    padding: 20px;
    font-family: "Work Sans", sans-serif;
    position: relative;
    height: 100%;
    width: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .img-logo {
    position: absolute;
    display: inline-block;
}

.header .img-logo img {
    height: 50px;
    margin-top: -15px;
}

.header .container .nav-left .left-link {
    display: flex;
    margin-left: 120px;
    gap: 20px;
}

.header .container .nav-left .left-link a {
    text-decoration: none;
    color: #3E4958;
    font-weight: bold;

}

.header .container .nav-right .right-link a {
    text-decoration: none;
    padding: 10px !important;
    color: #000000;
}

.right-link .support {
    border: solid 2px !important;
    padding: 5px 10px !important;
    border-radius: 5.32258px !important;
    color: #0F7AD3 !important;
}

.header .container .nav-right .right-link a:hover {
    color: #0F7AD3;
}



/* 2 */

.img-banner {
    height: 35vh;
    background-image: url("../imgHome/21.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.balls-img {
    position: absolute;
    top: 20%;
    right: 8%;
    height: 12vh;
    background-repeat: no-repeat;
    background-size: contain;


}

.heading {
    text-align: center;
}

.heading h1 {
    padding-top: 40px;
    color: #000000;
    padding-bottom: 10px;
}

.heading p {
    font-size: 20px;
    color: #000000;
    text-shadow: #000000;
}

/* 3*/
.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}





#portfolio .container .navbar2 {
    display: flex;
    column-gap: 5rem;
    list-style: none;
    padding-left: 25%;
    padding-top: 10px;
}

#portfolio .container .navbar2 li {
    position: relative;
}

#portfolio .container .navbar2 a {
    font-size: 1rem;
    font-weight: 500;
    color: #ADADAD;
    text-align: center;
    padding-top: 15px;
}

#portfolio .container .navbar2 a:hover {
    color: #0F7AD3;

}

#portfolio .container .navbar2 a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #0F7AD3;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;

}

#portfolio .container .navbar2 a:hover::after,
#portfolio .container.navbar2 .homa-active::after {
    width: 100%;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, .5fr));
    grid-gap: 20px;
    margin-top: 70px;
}

.portfolio .portfolio-content .card .read-more-button {
    background-color: white;
    padding: 10px;
    color: #0F7AD3;
    font-weight: bold;
    box-shadow: none;
    border: none;
    font-size: 15px;


}

.portfolio .portfolio-content .card {
    background-color: white;

}

.portfolio .portfolio-content .card img {
    width: 260px;
    height: 200px;
    padding: 30px;
    border-radius: 60px;

}

.portfolio .portfolio-content .card img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;

}







.portfolio .portfolio-content .card .info li:hover {
    list-style: circle;
    color: #0F7AD3;

}

.portfolio .portfolio-content .card .info p:hover {
    color: #0F7AD3;

}

.portfolio .portfolio-content .card .info {
    padding: 20px;
    text-align: left;
    line-height: 30px;
}





/* footer */

/* footer */
.footer {
    background-image: linear-gradient(45deg, lightgreen 5%, #0F7AD3 95%);
    padding: 1rem 2rem;
}

.footer-container {
    width: 95%;
    color: white;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 1Zrem;
}

.footer .top-part {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
}

.footer .ready-started {
    white-space: nowrap;
}

.footer .middle-part {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 240px));
    gap: 2rem;
}

.middle-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.7rem;
}

.footer-input {
    display: flex;
    width: 100%;
}

.footer-input input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff73;
    background: transparent;
    color: white;
}

.footer-input input::placeholder {
    color: white;
}

.footer-input-icon {
    padding: 0.6rem 1rem;
    text-align: center;
    background-color: white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.footer-input-icon i {
    color: #0F7AD3;
    font-size: 14px;
}

.contact-widgett {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    margin: 0.7rem 0;
    width: 80%;
}

.footer .lower-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lower-part .flex-footer {
    display: flex;
    gap: 3rem;
}

.footer ul li {
    margin: 0.5rem 0;
}

.footer-btn {
    background-color: white;
    color: #0F7AD3;
    padding: 0.7rem 1.2rem;
    display: block;
    width: fit-content;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.footer-btn:hover {
    color: white;
    background-color: #0F7AD3;
    border: 1px solid white;
    cursor: pointer;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
>>>>>>> origin/main
}